.hero-flex {
    width: 100%;
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 82px;
}
.hero-flex .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}
.hero-flex .img {
    margin-bottom: 8px;
}
.hero-flex iframe {
    height: 225px;
    width: 400px
}
.head {
    padding-left: 12px;
}
.link {
    background: linear-gradient(180deg, #FFE100 -0.3%, #FFDA00 8.68%, #FFD400 16.67%, #FFCD03 21.66%, #FFC709 25.66%, #FBAD18 46.62%, #F7941D 67.59%, #EF7F1F 83.56%, #EA6C20 99.53%);
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 12px 24px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 24px;
    cursor: pointer;
}
@media (max-width: 1024px) {
    .hero-flex {
        justify-content: center;
        gap: 24px;
    }
    .hero-flex .text {
        max-width: 500px;
        padding-right: 24px;
    }
    .hero-flex img {
        max-width: 300px;
    }
}
@media (max-width: 425px) {
    .hero-flex {
        flex-direction: column-reverse;
        gap: 32px;
    }
    .hero-flex .text {
        width: 90%;
    }
    .hero-flex iframe {
        width: 360px;
        height: 200px;
    }
    .hero-flex img {
        max-width: 100%;
    }
}
@media (max-width: 365px) {

}