.hero-flex {
    width: 100%;
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 82px;
}
.hero-flex .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}
.hero-flex .img {
    margin-bottom: 8px;
}
@media (max-width: 425px) {
    .hero-flex {
        flex-direction: column-reverse;
        gap: 32px;
    }
    .hero-flex .text {
        width: 90%;
    }
    .hero-flex img {
        max-width: 100%;
    }
}