.btn {
    background: linear-gradient(180deg, #FFE100 -0.3%, #FFDA00 8.68%, #FFD400 16.67%, #FFCD03 21.66%, #FFC709 25.66%, #FBAD18 46.62%, #F7941D 67.59%, #EF7F1F 83.56%, #EA6C20 99.53%);
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 12px 24px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
}
.btn.pd {
    margin-top: 32px;
}
@media (max-width: 426px) {
    .btn {
        max-width: 360px;
    }
}
@media (max-width: 375px) {
    .btn {
        max-width: 320px;
    }
}
@media (max-width: 340px) {
    .btn {
        max-width: 300px;
    }
}
/* #FFE100,  #FFDA00,  #FFD400,  #FFC709,  #FBAD18,  #F7941D,  #EF7F1F,  #EA6C20*/ 