.card-normal {  
    width: 320px;
    height: 282px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--normal-color);
    border-radius: 20px;
}
.card-normal p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}
.card-normal-2 {
    position: relative;
    width: 320px;
    height: 262px;
    padding: 28px 20px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--bg-color);
    border-radius: 20px;
}
.card-normal-2::after {
    content: url('../../../public/images/triangle.png');
    position: absolute;
    top: -10px;
    left: 40px;
}
.card-normal-2 p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--normal-color);
}
.aq .header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.aq .header > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.aq .header > div h3 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: var(--bg-color);
}
.aq .header > div p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}
@media (max-width: 1024px) {
    .card-normal,
    .card-normal-2 {
        width: 300px;
    }
}
@media (max-width: 425px) {
    .card-normal,
    .card-normal-2 {
        width: 94%;
    }
    .card-normal-2 {
        height: 100%;
    }
    .aq .header > div {
        gap: 8px;
    }
}