.main {
    width: 100%;
}
.main .card-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 32px;
}
.main .div-img .img {
    width: 100%;
}
.main .abs {
    position: absolute;
    top: -32px;
    right: 0;
    height: 100%;
}
.main .flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}
.main .comparisonIcon {
    position: absolute;
}
.main .logoBg {
    position: absolute;
    top: 24px;
    width: 100%;
    max-width: 1000px;
}
.main .top {
    margin-top: 120px;
}
.main .text {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.main .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main .review-div {
    gap: 56px;
    margin-top: 120px;
}
.main .review-div > img {
    width: 420px;
}
.main .reviews > img {
    margin-bottom: 24px;
    height: 270px;
}
.main .reviews > div > div {
    justify-content: flex-start;
}
.main .reviews > div > div h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: var(--bg-color);
}
.main .reviews p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--bg-color);
    max-width: 400px;
}
.main .text-bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
    margin-top: 48px;
}
.main .text-bg h3 {
    position: absolute;
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: 400;
    font-size: 166px;
    line-height: 100%;
    color: #fff;
    opacity: .15;
    /* identical to box height, or 166px */

    text-align: center;
}
@media (max-width: 1024px) {
    .main .wpp {
        width: 240px;
    }
    .main .flex {
        flex-wrap: wrap;
    }
    .main .abs {
        position: absolute;
        top: 120px;
        right: 0;
        height: 300px;
    }
}
@media (max-width: 425px) {
    .main .flex {
        flex-direction: column;
        align-items: center;
        padding: 12px;
    }
    .main .text {
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .main .abs {
        max-width: 100%;
        height: 240px;
        top: -32px;
        bottom: 0;
        transform: translateY(102px)
    }
    .main .logoBg {
        width: 100%;
    }
    .main .wpp {
        width: 80%;
    }
    .main .review-div {
        margin-top: 40px;
    }
    .main .reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .reviews > img {
        width: 100%;
        height: 100%;
        padding: 12px;
        margin-bottom: 0;
    }
    .main .reviews .flex {
        flex-direction: row;
    }
    .main .review-div > img {
        width: 100%;
        padding: 12px;
    }
    .main .last img {
        width: 200px
    }
    .review-div .stars {
        width: 70px
    }
}