.section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    padding: 48px 0;
}
.section .content {
    width: 100%;
    max-width: 1060px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bg {
    background: radial-gradient(100% 353.59% at 100% 0%, #FFFFFF 0%, #B4B4B4 100%);
}
.top {
    padding-top: 64px;
}
.pd {
    padding-top: 104px
}
@media (max-width: 425px) {
    .pd {
        padding-top: 48px;
    }
}